<div class="weather">
    <div id="localInfo">
        <small>Agora em</small>
        <h2 class="cityName">
            {{cidade}}, {{pais}}
        </h2>
        <div class="icon_descr">
            <img id="climaIcon" src="{{icone}}">
            <p id="description">
                {{descricao}}
            </p>
        </div>
        <div class="info">
            <p><span class="temp_info"><i class="fa-solid fa-temperature-empty"></i> Temperatura:</span> {{temperatura}} ºC</p>
        </div>
        <div class="info">
            <p><span class="temp_info"><i class="fa-solid fa-droplet"></i> Umidade do ar:</span> {{umidade}} %</p>
        </div>
        <a href="/previsao/{{cidade}}/"><div class="previsao_detalhada">Ver previsão detalhada</div></a>
        <span class="update"><small>Última atualização em {{atualizacao}}</small></span>
    </div>
</div>